services:
  postgres:
    image: postgres:latest
    ports:
      - "5433:5432"
    environment:
      - POSTGRES_DB=ProjIntegrador4
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=Password123#@!
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - app-network

  backend:
    build:
      context: ./Back-End/APIlibrary
      dockerfile: Dockerfile
    container_name: Back-End-PI4
    depends_on:
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/ProjIntegrador4
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=Password123#@!
    ports:
      - "8080:8080"
    networks:
      - app-network
    restart: on-failure

  frontend:
    build:
      context: ./Front-End
      dockerfile: Dockerfile
    container_name: Front-End-PI4
    depends_on:
      - backend
    ports:
      - "3000:80"
    environment:
      - VITE_API_URL=http://backend:8080
    networks:
      - app-network
    restart: on-failure

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge

