# Configurações do Banco de Dados
# Se usar Docker, a URL deve apontar para o nome do serviço (ex: jdbc:postgresql://postgres:5432/nome_db)
DB_URL=jdbc:postgresql://localhost:5432/nome_db
DB_USER=seu_usuario
DB_PASSWORD=sua_senha

DB_NAME=nome_db

# Configurações de E-mail (SMTP)
# Para Gmail, use uma "Senha de App"
EMAIL_USER=exemplo@gmail.com
EMAIL_PASS=abcd-efgh-ijkl-mnop

# Chave Privada RSA para Autenticação JWT
# Deve ser a string da chave sem quebras de linha ou o caminho do arquivo
# Perceba que você vai ter que editar a chave pública em public_key.pem no backend a partir dessa chave privada gerada
# Remova as quebras de linha da chave secreta e coloque-a entre parentêses
RSA_PRIVATE_KEY=sua_chave_rsa_aqui

# URL do Front-end para redirecionamentos e CORS
FRONTEND_URL=http://localhost:3000

# API Key do Google Books (Obtenha no Google Cloud Console)
GOOGLE_BOOKS_API_KEY=AIzaSy...seu_token

# URL da API para o Front-end (No Docker/Nginx pode ser apenas '/api'), recomendo deixar em branco
VITE_API_URL=http://localhost:8080